<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="m-2" style="float: left">Lista Cadastro</h4>
        </div>
        <div class="col-sm-6">
            <button style="float: right" type="button" class="btn btn-outline-dark m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastrar</button>
            <div class="modal" tabindex="-1" id="exampleModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Novo Convidado</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="input-group input-group-sm m-1">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="inputNome">
                    </div>
                    <div class="input-group input-group-sm m-1">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Idade:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="inputIdade">
                    </div>
                    <div class="input-group input-group-sm m-1">
                        <span class="input-group-text" id="inputGroup-sizing-sm">CPF:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="inputCPF">
                    </div>
                    <div class="input-group input-group-sm m-1">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Data de Nascimento:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="inputDataNascimento">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="adicionarConvidado()">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">CPF</th>
                <th scope="col">Data Nascimento</th>
                <!-- <th scope="col" class="text-center">Ações</th> -->
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let convidados of listaConvidados">
                <td>{{convidados[0].nome}}</td>
                <td>{{convidados[0].idade}}</td>
                <td>{{convidados[0].cpf}}</td>
                <td>{{convidados[0].dataNascimento}}</td>
            </tr>
          </tbody>
    </table>
    <div>
        <button style="float: right" type="button" class="btn btn-outline-dark m-1" (click)="limpar()">Limpar Cadastro</button>
    </div>
</div>